
.home{
    background-repeat: no-repeat;
    text-align: left;
    width: 100vw;
    padding-left: 40%;
    z-index: 2;
    color: white;
    font-weight: 700;
    padding-top: 5%;
}

h1{
    font-size: 32px;
    z-index: 2;
    margin-top: 0;
}

.grid-container{
    list-style: none;
}

