.weathermap{
    height: 100vh;
    width: 100%;
}

#mapid { 
    margin-left: 12%;
    height: 75vh; 
    width: 75vw;
}

h4{
    color: white;
    text-align: center;
    padding-top: 0;
}

#precip{ 
    margin-left: 12%;
    height: 75vh; 
    width: 75vw;
}